.react-calendar {
  min-width: 240px;
  width: 240px;
}

.react-calendar__navigation {
  display: flex;
}

.react-calendar__navigation__arrow {
  flex-grow: 1;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  justify-content: center;
}
